body {
  padding: 0;
  margin: 0;
}

html {
  background-color: black;
  color: white;
  font-family: 'MuseoModerno';
  font-size: 2vw;
}

#input {
  color: white;
  background-color: Transparent;
  text-align: center;
  border: none;
  font-size: 5vw;
}

.text {
  background-color: Transparent;
}

.button {
  border-width: 0;
  padding: 0;
  margin: 0;
  background-color: Transparent;
  color: white;
}

.button:hover {
  color: gray;
}

.formulaElement {
  text-align: center;
  background-color: Transparent;
  padding: 0.5vw;
  white-space: nowrap;
  overflow: ellipsis;
}

.formulaElementVariable:hover {
  color: gray;
  cursor: default;
}
