#input {
  background-color: black;
  color: white;
  font-family: 'MuseoModerno';
  font-size: 3vw;
  text-align: center;
  border: none;
}

#test {
  background-color:orange;
  z-index:100;
  width:80%;
  height:800px;
  position:absolute;
}
