#input {
  background-color: black;
  color: white;
  font-family: 'MuseoModerno';
  font-size: 3vw;
  text-align: center;
  border: none;
}

.text {
  background-color: none;
  color: white;
  font-family: 'MuseoModerno';
  font-size: 2vw;
}

.button {
  border-width: 0px;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'MuseoModerno';
  font-size: 2vw;
}

.button:hover {
  color: gray;
}

.formulaElement {
  text-align: center;
  font-size:3vw;
  background-color:none;
  color: white;
  padding: 0.5vw;
  white-space: nowrap;
  overflow: ellipsis;
}

.formulaElementVariable:hover {
  color:gray;
  cursor: default;
}
